<div class="layout">
  <aside class="sidebar">
    <h3>PulseLink</h3>
    <div *ngIf="isAdmin">
      <a routerLink="/dashboard">Dashboard</a>
      <a routerLink="/donors">Donors</a>
      <a routerLink="/donations">Donations</a>
      <a routerLink="/inventory">Inventory</a>
    </div>

    <div *ngIf="!isAdmin">
      <a routerLink="/user-dashboard">Dashboard</a>
      <a routerLink="/donate">Donate Blood</a>
      <a routerLink="/my-donations">My Donations</a>
    </div>
  </aside>

  <div class="content">
    <nav class="navbar">
      <button (click)="logOut()">Logout</button>
    </nav>

    <main>
      <router-outlet></router-outlet>
      <app-spinner></app-spinner>
    </main>
  </div>
</div>
